DISCORD_TOKEN=your_token_here
GUILD_ID=your_guild_id_here
OWNER_ID=your_owner_id_here
BOT_OWNER_ID=your_bot_owner_id_here
MODERATOR_ROLE_ID=your_moderator_role_id_here
BOT_LOG_CHANNEL_ID=your_log_channel_id_here
LEADERBOARD_CHANNEL_ID=your_leaderboard_channel_id_here
RULES_CHANNEL_ID=your_rules_channel_id_here
GENERAL_CHANNEL_ID=your_general_channel_id_here
BOT_COMMANDS_CHANNEL_ID=your_bot_commands_channel_id_here
SHOP_CHANNEL_ID=your_shop_channel_id_here
BIRTHDAY_ROLE_ID=your_birthday_role_id_here
CURRENCY_NAME=your_currency_name_here
RANK_GODS_ROLE_ID=your_rank_gods_role_id_here
RANK_GAMERGODS_ROLE_ID=your_rank_gamergods_role_id_here
